<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e881dd00-1c8f-4a37-a621-1172a91700b5/resourceGroups/jtodev_eastus2_dev_appsvcplan_rg/providers/Microsoft.Web/sites/jtodevzta</ResourceId>
    <ResourceGroup>jtodev_eastus2_dev_appsvcplan_rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://jtodevzta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ac49fe5a-e293-464f-ac22-295eb530f88e</ProjectGuid>
    <PublishUrl>https://jtodevzta.scm.azurewebsites.net/</PublishUrl>
    <UserName>$jtodevzta</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>