<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e881dd00-1c8f-4a37-a621-1172a91700b5/resourcegroups/jtodev_eastus2_dev_rg/providers/Microsoft.ContainerRegistry/registries/demoGUI02</ResourceId>
    <ResourceName>demoGUI02</ResourceName>
    <ResourceGroup>jtodev_eastus2_dev_rg</ResourceGroup>
    <Subscription>A&amp;E ZTA Demo Env</Subscription>
    <RegistryUrl>https://demogui02.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>